# Sublime Text: only track Packages/User (license + local state live elsewhere)
home/config/sublime-text/*
!home/config/sublime-text/Packages/
home/config/sublime-text/Packages/*
!home/config/sublime-text/Packages/User/

home/vim/autoload
home/vim/plugged
home/vim/.netrwhist

home/config/vpn/config

home/config/i3/config.d/10-brightness.conf

# GTK: bookmarks are machine-local sidebar shortcuts (Thunar writes to this file)
home/config/gtk-3.0/bookmarks
