<?xml version="1.0" encoding="UTF-8"?>

<!--
  Openbox menu
  Michael Gilchrist (michaelgilch@gmail.com)
-->

<openbox_menu xmlns="http://openbox.org/3.4/menu">
  
  <menu id="root-menu" label="openbox">
    <item label="Run (Super + R)">
      <action name="Execute"><execute>gmrun</execute></action>
    </item>
    <separator/>
    <item label="Terminator (Super + T)">
      <action name="Execute"><execute>terminator</execute></action>
    </item>
    <item label="PCManFM (Super + E)">
      <action name="Execute"><execute>pcmanfm</execute></action>
    </item>
    <item label="Chrome (Super + W)">
      <action name="Execute"><execute>google-chrome-stable</execute></action>
    </item>
    <item label="Sublime Text (Super + S)">
      <action name="Execute"><execute>subl</execute></action>
    </item>
  
    <separator/>

    <menu id="Accessories" label="Accessories">
      <item label="Archive Manager" icon="/usr/share/icons/hicolor/scalable/apps/org.gnome.ArchiveManager.svg">
        <action name="Execute"><execute>file-roller</execute></action>
      </item>
      <item label="Galculator" icon="/usr/share/icons/hicolor/48x48/apps/galculator.png">
        <action name="Execute"><execute>galculator</execute></action>
      </item>
    </menu> <!-- Accessories -->

    <menu id="Development" label="Development">
      <item label="IntelliJ-Idea" icon="/usr/share/icons/hicolor/scalable/apps/idea.svg">
        <action name="Execute"><execute>idea</execute></action>
      </item>
      <item label="Sublime Text 3" icon="/usr/share/icons/hicolor/16x16/apps/sublime-text.png">
        <action name="Execute"><execute>subl</execute></action>
      </item>
    </menu> <!-- Development -->

    <menu id="Network" label="Network">
      <item label="Chrome" icon="/usr/share/icons/hicolor/16x16/apps/google-chrome.png">
        <action name="Execute"><execute>google-chrome-stable </execute></action>
      </item>
      <item label="ReMarkable-Client">
        <action name="Execute"><execute>reMarkable</execute></action>
      </item>
    </menu> <!-- Network -->

    <menu id="Office" label="Office">
      <item label="EVince" icon="/usr/share/evince/icons/hicolor/scalable/mimetypes/x-office-presentation.svg">
        <action name="Execute"><execute>evince </execute></action>
      </item>
      <item label="LibreOffice" icon="/usr/share/icons/hicolor/16x16/apps/libreoffice-startcenter.png">
        <action name="Execute"><execute>libreoffice </execute></action>
      </item>
      <item label="LibreOffice Base" icon="/usr/share/icons/hicolor/16x16/apps/libreoffice-base.png">
        <action name="Execute"><execute>libreoffice --base </execute></action>
      </item>
      <item label="LibreOffice Calc" icon="/usr/share/icons/hicolor/16x16/apps/libreoffice-calc.png">
        <action name="Execute"><execute>libreoffice --calc </execute></action>
      </item>
      <item label="LibreOffice Draw" icon="/usr/share/icons/hicolor/16x16/apps/libreoffice-draw.png">
        <action name="Execute"><execute>libreoffice --draw </execute></action>
      </item>
      <item label="LibreOffice Impress" icon="/usr/share/icons/hicolor/16x16/apps/libreoffice-impress.png">
        <action name="Execute"><execute>libreoffice --impress </execute></action>
      </item>
      <item label="LibreOffice Math" icon="/usr/share/icons/hicolor/16x16/apps/libreoffice-math.png">
        <action name="Execute"><execute>libreoffice --math </execute></action>
      </item>
      <item label="LibreOffice Writer" icon="/usr/share/icons/hicolor/16x16/apps/libreoffice-writer.png">
        <action name="Execute"><execute>libreoffice --writer </execute></action>
      </item>
    </menu> <!-- Office -->

    <menu id="Sound &amp; Video" label="Sound &amp; Video">
      <item label="PulseAudio Volume Control">
        <action name="Execute"><execute>pavucontrol</execute></action>
      </item>
      <item label="Rhythmbox" icon="/usr/share/icons/hicolor/16x16/apps/rhythmbox.png">
        <action name="Execute"><execute>rhythmbox </execute></action>
      </item>
      <item label="VLC media player" icon="/usr/share/icons/hicolor/16x16/apps/vlc.png">
        <action name="Execute"><execute>/usr/bin/vlc --started-from-file </execute></action>
      </item>
    </menu> <!-- Sound & Video -->

    <menu id="Utilities" label="Utilities">
      <item label="gmrun">
        <action name="Execute"><execute>gmrun </execute></action>
      </item>
      <item label="PCManFM">
        <action name="Execute"><execute>pcmanfm </execute></action>
      </item>
      <item label="Terminator" icon="/usr/share/icons/hicolor/16x16/apps/terminator.png">
        <action name="Execute"><execute>terminator</execute></action>
      </item>
    </menu> <!-- System Tools -->

    <separator/>

    <menu id="System" label="System">
      <item label="lxAppearance">
        <action name="Execute"><execute>lxappearance</execute></action>
      </item>
      <item label="nitrogen">
        <action name="Execute"><execute>nitrogen</execute></action>
      </item>
      <item label="nvidia-settings">
        <action name="Execute"><execute>nvidia-settings</execute></action>
      </item>
      <item label="obconf">
        <action name="Execute"><execute>obconf</execute></action>
      </item>

      <separator/>

      <item label="Reload Openbox">
        <action name="Execute"><execute>openbox --reconfigure</execute></action>
      </item>
      <item label="Restart Openbox">
        <action name="Execute"><execute>openbox --restart</execute></action>
      </item>
    </menu> <!-- Openbox -->

    <separator/>

    <item label="Reboot">
      <action name="Execute"><execute>shutdown -r now</execute></action>
    </item>
    <item label="Shutdown">
      <action name="Execute"><execute>shutdown -h now</execute></action>
    </item>

  </menu> <!-- root -->
    
</openbox_menu>
