<?xml version="1.0" encoding="UTF-8"?>

<!--
  Openbox menu
  Michael Gilchrist (michaelgilch@gmail.com)
-->

<openbox_menu xmlns="http://openbox.org/3.4/menu">

  <menu id="root-menu" label="openbox">
  
    <!--<menu id="Applications" label="Applications" execute="xdg_menu --format openbox3-pipe --root-menu /etc/xdg/menus/arch-applications.menu" />

    <separator/>-->
    
    <menu id="Openbox" label="Openbox">
      <item label="Reload Openbox"><action name="Execute"><execute>openbox --reconfigure</execute></action></item>
      <item label="Restart Openbox"><action name="Execute"><execute>openbox --restart</execute></action></item>
    </menu>

    <separator/>

    <item label="Reboot"><action name="Execute"><execute>shutdown -r now</execute></action></item>
    <item label="Shutdown"><action name="Execute"><execute>shutdown -h now</execute></action></item>

  </menu> <!-- root -->
    
</openbox_menu>
